*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-front-page{
    height: 100vh;
    background-color:rgb(63, 63, 160) ;
}

.top-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(63, 63, 160);
    color: white;
}

.logo{
    margin-top: 1%;
    margin-left: 3%;
}



.top-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(63, 63, 160);
    color:white;
}

.text-div{
    margin-top: 1%;
    margin-bottom: 3%;
}

.main-text{
    font-size: 3rem;
}


.search-div{
    display: flex;
    width: 40%;
    margin-bottom: 3%;
    justify-content: center;
    outline: none;
}


.search-input{
    height: 3rem;
    width: 22rem;
    padding-left: 3%;
}

.search-input::placeholder{
    font-size: 1rem;
}

.search-odds-btn{
    width: 6rem;
}



.main-container{
    display: flex;
    margin: 5% 12%;
    height: 80vh;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.container-of-things{
    display: flex;
    flex-direction: column;
    
    margin: 5% 5%;
    width: 100%;
}

.menu-container{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    
}

.markets-container{
    height: 100%;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.markets-btn{
    height: 80%;
    border:none;
    background-color: white;
    margin-left: 6%;
    border-radius: 6px;
    padding: 0% 3%;
}

.markets-btn:hover{
    background-color: #849FFF;
    color: white;
    transition: ease .3s;
    border-radius: 6px;

}

.markets-btn:focus{
    background-color: #849FFF;
    color: white;
    transition: ease .3s;
    border-radius: 6px;
}

.search-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.search-box{
    width: 60%;
    height: 80%;
    outline: none;
    border:none;
    border-bottom:3px solid #849FFF;
    padding-left: 1%;
    font-size: large;
}

.search-btn{
    border:none;
    background-color: #849FFF;
    color: white;
    width: 4rem;
    height: 80%;
    border-radius: 6px;
    margin-left: 3%;
}


.display-area{
   margin-top: 1%;
   display: flex;
   flex-direction: row;
   /*justify-content: space-around;*/
   
   align-items: center;
   flex-wrap: wrap;
   height: 50vh;
   width: 100%;
}

.display-card{
    display: flex;
    height: 40%;
    width: 35%;
    flex-direction: row;
    margin: 1%;
    align-items: center;
    justify-self: center;
    border-radius: 6px;
    background-color: #FBFCFF;
    color:#151b32;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.team-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.team-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}


.name-odds-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.team-1{
    margin-bottom: 5%;
}

.bet-price{
    display: flex;
    background-color: #849FFF;
    justify-content: center;
    align-items: center;
    color:white;
    width: 20%;
    height: 2rem;
}


.team-name{
    display: flex;
    height: 2rem;
    /*justify-content: center;*/
    align-items: center
}

.underline{
    border: #849FFF 2px solid;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
    
}






.new-display-card{
    width: 30rem;
    height: 20rem;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    color: white;
    background-color: #222533;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-team-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.big-info-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: space-around;
    justify-content: space-around;
}


.spread-title{
    margin-bottom: 10%;
 
}

.moneyline-title{
    margin-bottom: 10%;
  
}

.spread-odds-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7132C1;
}

.spread-odds-container-moneyline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7132C1;
    padding-top:14%;
    padding-bottom: 14%;
}

.odds-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(63, 63, 160);
}

.fanduel-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgb(63, 63, 160);
    justify-content: center;
    align-items: center;
}

.draft-kings-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgb(63, 63, 160);
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 500px){
    .new-display-card{
        width: 90%;
        height: 10rem;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        color: white;
        background-color: #222533;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-size: 10px;
    }

}